
<section class="card">
    <div class="card-body">
        <h1>Todo sobre nosotros</h1>
        <p>Somos estudiantes de la universidad surcolombiana cursando la materia profundizacion 3</p>
    </div>

</section>